*{
    margin: 0;
    margin: 0;
}
.heading{
    color:blanchedalmond;
}


.form{
    width:300px;
    height:300px;
    position:relative;
    margin:6% auto;
   
    padding:5px;
    overflow:hidden;
}

.input-group{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s;
    margin-left: 10px;
}
.input-field{
    color:blanchedalmond;
    text-align:center;
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    outline:none;
    background:transparent;
    
}
::placeholder{
    color:blanchedalmond;
}
.submit-btn{
    color: blanchedalmond;
    opacity: 0.8;
    width:100%;
    padding:10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    background:linear-gradient(to right , #ff105f,#0634ff);
    border:0;
    outline:none;
}
.h2{
   
    margin:auto;
    color:blanchedalmond;
}
.h3{
    color:blanchedalmond;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: url(5-Examples-of-Background-Video-in-Websites-1.jpg);
    background-size: cover;
}
.card{
    background: linear-gradient( rgb(0, 111, 214) , rgb(3, 241, 82));
   
}
