*{
    margin: 0;
    margin: 0;
}
.heading{
    color:rgb(8, 143, 38);
}

.first{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(  rgb(245, 250, 246) , rgb(214, 193, 5));
    background-position: center;
    background-size: cover;
    position: absolute; 
}
.form{
    width:300px;
    height:300px;
    position:relative;
    margin:6% auto;
    background: linear-gradient(to bottom, rgb(245, 250, 246) , rgb(214, 193, 5));
    padding:5px;
    overflow:hidden;
}

.input-group{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s;
    margin-left: 10px;
}
.input-field{
    text-align:center;
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    outline:none;
    background:transparent;
}
.submit-btn{
    width:100%;
    padding:10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    background: linear-gradient( rgb(3, 134, 47) , rgb(149, 212, 2));
    border:0;
    outline:none;
}

.h1{
   
    
    color:rgb(8, 143, 38);
}

